body {
  background-color: #83ccbc;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.searchBar{
  position: absolute;
  top:7%;
  left:40%;
}

.XAxis{
  font: 25px cursive;
  position: absolute;
  top:92%;
  left:50%;
  color: rgb(215, 56, 230);
}

.YAxis{
  font: 25px cursive;
  position: absolute;
  top:50%;
  left:10%;
  color: rgb(215, 56, 230);
}
